<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/output.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Document</title>
    </head>

    <body>
        <aside
            class="fixed top-0 left-0 w-16 h-screen bg-black text-white grid grid-cols-1 border-green-500 border-r">
            <a href="#" class="sidebar-icon mt-12 mb-12 group">
                <span class="sidebar-tooltip group-hover:scale-100">MetaMint
                    Home</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                    viewBox="0 0 512 512"><path fill="currentColor"
                        d="M512 169.943c-50.296 12.033-91.653 12.632-127.443 7.49c-22.895 27.979-36.901 56.091-48.568 83.737c48.693-13.64 96.583-31.712 136.124-55.34c-42.697 31.493-92.067 53.554-141.817 69.276c-20.269 54.594-39.842 100.591-77.074 129.566c58.39-20.34 160.245-75.81 258.778-234.729zm-263.637 219.67c80.103-69.55 48.78-188.267 203.384-290.824c-255.72-50.577-368.809 40.644-388.144 54.746c-103.994 75.841-56.637 198.26-24.04 169.647c53.276-46.09 133.296-158.44 286.56-198.737C186.999 162.294 88.86 295.126 63.094 328.528c-45.598 69.997 89.654 148.643 185.27 61.084z" /></svg></a>
            <div class="flex items-center place-self-center">
                <div>
                    <a href="#" class="sidebar-icon group">
                        <span class="sidebar-tooltip group-hover:scale-100">Dashboard</span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24"><path
                                fill="currentColor"
                                d="M4 13h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1zm0 8h6c.55 0 1-.45 1-1v-4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1zm10 0h6c.55 0 1-.45 1-1v-8c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1zM13 4v4c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1z" /></svg>
                    </a>
                    <a href="#" class="sidebar-icon group">
                        <span class="sidebar-tooltip group-hover:scale-100">Your
                            Library</span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24"><path
                                fill="currentColor"
                                d="M19 18H9a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h1v5l2-1.5L14 7V2h5a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2m-2 2v2H5a2 2 0 0 1-2-2V6h2v14h12Z" /></svg></a>
                    <a href="#" class="sidebar-icon group">
                        <span class="sidebar-tooltip group-hover:scale-100">Help
                            Center</span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24"><path
                                fill="currentColor"
                                d="M21.71 8.71c1.25-1.25.68-2.71 0-3.42l-3-3c-1.26-1.25-2.71-.68-3.42 0L13.59 4H11C9.1 4 8 5 7.44 6.15L3 10.59v4l-.71.7c-1.25 1.26-.68 2.71 0 3.42l3 3c.54.54 1.12.74 1.67.74c.71 0 1.36-.35 1.75-.74l2.7-2.71H15c1.7 0 2.56-1.06 2.87-2.1c1.13-.3 1.75-1.16 2-2C21.42 14.5 22 13.03 22 12V9h-.59l.3-.29M20 12c0 .45-.19 1-1 1h-1v1c0 .45-.19 1-1 1h-1v1c0 .45-.19 1-1 1h-4.41l-3.28 3.28c-.31.29-.49.12-.6.01l-2.99-2.98c-.29-.31-.12-.49-.01-.6L5 15.41v-4l2-2V11c0 1.21.8 3 3 3s3-1.79 3-3h7v1m.29-4.71L18.59 9H11v2c0 .45-.19 1-1 1s-1-.55-1-1V8c0-.46.17-2 2-2h3.41l2.28-2.28c.31-.29.49-.12.6-.01l2.99 2.98c.29.31.12.49.01.6Z" /></svg></a>
                    <a href="#" class="mx-4"></a>
                    <a href="#"
                        class="relative flex items-center justify-center w-12 h-12 mt-2 mb-2 mx-2 group">
                        <span class="sidebar-tooltip group-hover:scale-100">Profile</span>
                        <img
                            src="../static/img/profile.jpg"
                            alt="Profile Picture"
                            class="shadow-lg rounded-3xl hover:rounded-xl transition-all duration-300"></a>
                </div>
            </div>
            <a href="#"
                class="place-self-end relative flex items-center justify-center w-12 h-12 mt-12 mb-12 mx-2 shadow-lg rounded-3xl
                text-red-500 bg-gray-900 hover:bg-gray-800 hover:rounded-xl transition-all duration-300 group">
                <span class="sidebar-tooltip group-hover:scale-100">Logout</span>
                <svg
                    xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24"><path
                        fill="currentColor"
                        d="M5 21q-.825 0-1.413-.588T3 19V5q0-.825.588-1.413T5 3h7v2H5v14h7v2H5Zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5l-5 5Z" /></svg></a>
        </aside>
        <aside class="fixed top-0 right-0 w-96 h-screen bg-gray-100 text-white border-green-500 border-l">
            <section class="m-8">
                <h2 class="text-xl font-bold text-gray-800">Keep Learning</h2>
                <hr class="items-center mt-3 border-green-500">
                <div class="grid grid-cols-1 gap-6">
                    <div
                        class="library-item grid grid-cols-10 mt-4 text-gray-900 hover:bg-blue-100 border-green-500 border">
                        <div class="col-span-4">
                            <h4 class="ml-3 mt-5 text-sm">
                                12 Weeks
                            </h4>
                            <h3 class="ml-3 mb-0 text-2xl font-bold ">
                                Career: Python Full Stack
                            </h3>
                        </div>
                        <div class="flex items-center justify-center col-span-6">
                            <div
                                class="bg-blue-300 rounded-full overscroll-contain m-1">
                                <img src="../static/img/python-course.png" alt>
                            </div>
                        </div> 
                        <hr class="w-full col-span-10 border-green-400">          
                        <div
                            class="col-span-10 inline-flex items-center mb-2 mx-3">
                            
                            <h4 class="mr-2">4/52</h4>
                            <div
                                class="w-full bg-gray-300 rounded-full h-2.5">
                                <div class="bg-green-500 h-2.5 rounded-full"
                                    style="width: 8%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper text-gray-900 border-green-500 border rounded-xl">
                        <div class="calendar-header">
                            <p class="current-date text-2xl font-bold"></p>
                            <div class="icons">
                                <span id="prev"
                                    class="flex items-center hover:text-green-500"><svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24"
                                        viewBox="0 0 24 24"><g fill="none"
                                            fill-rule="evenodd"><path
                                                d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z" /><path
                                                fill="currentColor"
                                                d="M7.94 13.06a1.5 1.5 0 0 1 0-2.12l5.656-5.658a1.5 1.5 0 1 1 2.121 2.122L11.121 12l4.596 4.596a1.5 1.5 0 1 1-2.12 2.122L7.938 13.06Z" /></g></svg></span>
                                <span id="next"
                                    class="flex items-center hover:text-green-500"><svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24"
                                        viewBox="0 0 24 24"><g fill="none"
                                            fill-rule="evenodd"><path
                                                d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z" /><path
                                                fill="currentColor"
                                                d="M16.06 10.94a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 1 1-2.121-2.122L12.879 12L8.283 7.404a1.5 1.5 0 0 1 2.12-2.122l5.658 5.657Z" /></g></svg></span>
                            </div>
                        </div>
                        <div class="calendar">
                            <ul class="weeks">
                                <li>Sun</li>
                                <li>Mon</li>
                                <li>Tue</li>
                                <li>Wed</li>
                                <li>Thu</li>
                                <li>Fri</li>
                                <li>Sat</li>
                            </ul>
                            <ul class="days"></ul>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
        <main class="pl-24 h-full pr-96 mr-8">
            <header class>
                <h1 class="justify-start text-4xl font-bold w-auto h-auto mb-2
                text-gray-900 mt-5">Hello<span class="text-green-500">, </span>Felipe
                    Schein</h1>
                <hr class="items-center mt-3 border-green-500">
            </header>
            <section class="grid grid-cols-2 gap-4 mt-10">
                <h2 class="text-gray-900 col-span-2 font-bold text-2xl">Your
                    Library</h2>
                <div class="library-item grid grid-cols-3 hover:bg-blue-100">
                    <div class="col-span-2">
                        <h4 class="ml-3 mt-5 text-sm">
                        12 Weeks
                        </h4>
                        <h3 class="ml-3 mb-0 text-3xl font-bold">
                            Career: Python Full Stack
                        </h3>
                    </div>
                    <div class="flex items-center justify-center">
                        <div
                            class="bg-blue-300 rounded-full overscroll-contain m-1">
                            <img src="../static/img/python-course.png" alt>
                        </div>
                    </div>
                </div>
                <div class="library-item grid grid-cols-3 hover:bg-yellow-100">
                    <div class="col-span-2">
                        <h4 class="ml-3 mt-5 text-sm">
                            4 Hours
                        </h4>
                        <h3 class="ml-3 mb-0 text-3xl font-bold">
                            Live: DevOps Fundamentals
                        </h3>
                    </div>
                    <div class="flex items-center justify-center">
                        <div
                            class="bg-yellow-300 rounded-full overscroll-contain m-1">
                            <img src="../static/img/course-2.png" alt>
                        </div>
                    </div>
                </div>
                <div class="library-item grid grid-cols-3 hover:bg-orange-100">
                    <div class="col-span-2">
                        <h4 class="ml-3 mt-5 text-sm">
                            5 Weeks
                        </h4>
                        <h3 class="ml-3 mb-0 text-3xl font-bold">
                            Course: Python For Data
                        </h3>
                    </div>
                    <div class="flex items-center justify-center">
                        <div
                            class="bg-orange-300 rounded-full overscroll-contain m-1">
                            <img src="../static/img/py.png" alt>
                        </div>
                    </div>
                </div>
            </section>
            <section class="grid grid-cols-2 gap-4 mt-10">
                <h2 class="text-gray-900 col-span-2 font-bold text-2xl">Upcoming Webinars</h2>
                <h3 class="text-gray-800 col-span-2 font-bold tex-xl border-t pt-2 border-green-500">Great professionals discuss relevant topics and their impacts on the job market in live broadcasts.</h3>
                <div class="library-item grid grid-cols-3 hover:bg-blue-100">
                    <div class="col-span-2">
                        <h4 class="ml-3 mt-5 text-sm">
                        12 Weeks
                        </h4>
                        <h3 class="ml-3 mb-0 text-3xl font-bold">
                            Career: Python Full Stack
                        </h3>
                    </div>
                    <div class="flex items-center justify-center">
                        <div
                            class="bg-blue-300 rounded-full overscroll-contain m-1">
                            <img src="../static/img/python-course.png" alt>
                        </div>
                    </div>
                </div>
                <div class="library-item grid grid-cols-3 hover:bg-yellow-100">
                    <div class="col-span-2">
                        <h4 class="ml-3 mt-5 text-sm">
                            4 Weeks
                        </h4>
                        <h3 class="ml-3 mb-0 text-3xl font-bold">
                            Course: DevOps Fundamentals
                        </h3>
                    </div>
                    <div class="flex items-center justify-center">
                        <div
                            class="bg-yellow-300 rounded-full overscroll-contain m-1">
                            <img src="../static/img/course-2.png" alt>
                        </div>
                    </div>
                </div>
                <div class="library-item grid grid-cols-3 hover:bg-green-100">
                    <div class="col-span-2">
                        <h4 class="ml-3 mt-5 text-sm">
                            4 Hours
                        </h4>
                        <h3 class="ml-3 mb-0 text-3xl font-bold">
                            Live: How to Name Things
                        </h3>
                    </div>
                    <div class="flex items-center justify-center">
                        <div
                            class="bg-green-300 rounded-full overscroll-contain m-1">
                            <img src="../static/img/python.png" alt>
                        </div>
                    </div>
                </div>
                <div class="library-item grid grid-cols-3 hover:bg-orange-100">
                    <div class="col-span-2">
                        <h4 class="ml-3 mt-5 text-sm">
                            5 Weeks
                        </h4>
                        <h3 class="ml-3 mb-0 text-3xl font-bold">
                            Course: Python For Data
                        </h3>
                    </div>
                    <div class="flex items-center justify-center">
                        <div
                            class="bg-orange-300 rounded-full overscroll-contain m-1">
                            <img src="../static/img/py.png" alt>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <script src="../static/js/script.js"></script>
    </body>
</html>